@import "tailwindcss";

@theme {
  --color-brand: #274441;
  --color-brand-light: #274441;
  --font-playfair: var(--font-playfair);
  --font-instrument: var(--font-instrument);
  --font-inter: var(--font-inter);
}

:root {
  --background: #F6F6F2;
  --foreground: #274441;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F6F2;
    --foreground: #274441;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
}

.serif-accent {
  font-family: var(--font-instrument), serif;
}